body {
  margin: 30px 2% 50px 1%;
  color: #036;
  background-color: white;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  line-height: 1.42857143;
}
* { word-wrap: break-word;}
a {overflow-wrap: break-word;}

:target::before {
  content: "";
  display: block;
  height: 70px; /* fixed header height*/
  margin: -70px 0 0; /* negative fixed header height */
}
/* navigation header and footer -- start -- */
.topbar,.footbar{
position:fixed;
width:100%;
left: 0;
z-index:1;
display: flex;
}
.topbar{
 top:0;
}
.footbar{
 bottom:0;
 display: none
}
.navbar{
margin:0;
padding:0;
height: 38px;
background-color:white!important
}
.dropup, .dropdown {
 float:left;
 text-align:center;
 position: relative;
 display: block;
}
.dropbtn {
 padding: 7px 0;
 width:100%;
 display: center ;
 vertical-align: middle;
 -moz-appearance: none!important;
 max-height: 40px!important;
 font-size: 12pt!important;
 border-radius: 10px;
 background-image:-webkit-linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);
 background-image:linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);
 border: 0.2rem ridge white;
}
.dropdown:hover ,.dropup:hover {
 color: maroon;
}
@media screen and (min-width: 720px) {
  .footbar { display: inline-block; }
}
.dropdown-content,
.dropup-content {
  display: none;
  position: absolute;
  width: 100%;
  border-radius: 6px;
  border: 0.1rem solid grey;
  background-color: #FEFEFE;
  z-index: -1;
}
.dropdown-content {
  top:38px;
  padding: 1px 0 -1px 0;
}
.dropup-content {
  bottom: 38px;
  padding: -1px 0 1px 0;
}
.dropdown-content button,
.dropup-content button {
  color: black;
  margin:0;
  padding: 6px;
  text-decoration: none;
  display: block;
  border: 0.2rem ridge;
  border-radius: 8px;
  background-color: white;
  background-image:-webkit-linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);
 background-image:linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);

}
.dropdown-content button,
.dropup-content button {
 text-decoration: none;
}
.dropdown-content button:hover,
.dropup-content button:hover{
 color: maroon;
 border-radius: 8px;
 border: 0.2rem ridge maroon;
}

.dropdown:hover .dropdown-content,
.dropup:hover .dropup-content{
  display: block;
}
div a:hover,
.dropdown .dropbtn:hover,
.dropup .dropbtn:hover {
  color: maroon;
}/*
.page-content {
  padding: 20px;
  margin-top: 30px;
}*/
/* navigation header and footer -- end -- */

.refsection > .refsection,
.refsection > .simplelist,
div.glosslist, div.itemizedlist, ul.simplelist,
div.orderedlist, div.variablelist,
table.revhistory, dl dd, p, .toc,
div.footnote, .blockquote,
.informaltable{ margin-left: 2%; }

dd .caution, dd .important, dd .note, dd .tip, dd .warning,
dd div.glosslist, dd div.itemizedlist, dd div.simplelist,
dd div.orderedlist, dd div.variablelist, li p,
dd p,  dd .para pre, .blockquote p { margin-left: 0; }

.blockquote { padding: 0 1%; text-align: justify}

dl dd {
position: relative;
top:-10pt;
}

ol.qandaset li {
 position: relative;
 margin-top: -20px;
}
ol.qandaset li:first-child {
 position: relative;
 margin-top: 0;
}

.toc dd {
position: relative;
top: -6px;
}

a, body, th, td, ol, ul, dl, span, .listitem, .toc {
font-family: verdana, arial, helvetica, sans-serif;
font-size: 12pt;
}

pre, pre span, pre a, a tt, tt a
small, tt, span.command {
font-family: "Noto Sans Mono","Courier New", courier, monospace;
font-size: 12pt;
}

pre i, i tt, tt i {
font-family: "Noto Sans Mono","Courier New", courier, monospace;
color: green;
font-weight: bold;
font-size: 12pt
}

small {
font: small-caps 100% sans-serif;
color: maroon;
}

td.paramdef { padding:0px 0px 3px;}
pre { margin-top: 0; margin-bottom: 6px }
.empinput { color: green; }
.empoutput { color: blue; }

.errorlayout {
position: relative;
left:40px;
color: red;
overflow: auto; }

.inlinemediaobject, .mediaobject, div.caption div {
display: block;
text-align: center;
}
div.revhistory {
 margin-right: 1%;
 padding-right: 2%;
}
table.revhistory {
 border: 1px dotted #999999;
 background-color: #ffffee;
 background: #ffffee;
}
.abstract, .toc, table.revhistory {
 margin-top: 20px;
}
.programlisting, .screen,
.synopsis, .cmdsynopsis {
 text-align: left;
 border: 1px dotted #999999;
 padding: 5px;
 margin: 0 1% -10px 2%;
 overflow: auto;
 background-color: #ffffee;
 background: #ffffee;
}

.literallayout {
 margin: -20px 1% -10px 2%;
 padding:0;
 overflow: auto;
}
.caution, .important, .note, .tip, .warning {
 border: 1px dotted grey;
 margin: 10px 1% 0 2%;
 padding: 0 2% 0 1%;
}

.glosslist, .itemizedlist, .simplelist,
.orderedlist, .variablelist {
 margin-bottom: -10px;
}
.screenlines {
 text-align:left;
 padding:5px;
/* overflow: auto; */
}

.screennumbers {
 text-align:right;
/* border-right:1px dotted #999999; */
 padding:5px;
}
/*
pre.programlisting, pre.screen, pre.screenlines {
background-color: #ffffee;
background: #ffffee;
}
*/
.funcdef, .synopsis, .cmdsynopsis {
 background-color: #efffcf;
 background: #efffcf; }

div.tablo {
 display:table;
 width:100%;
 border:1px dotted #999999;
 background-color: #efffcf;
}

div.satir {
display:table-row;
}

div.solsutun {
display:table-cell;
float:left;
overflow: auto;
padding-bottom: 4px;
}

div.sagsutun {
display:table-cell;
float:right;
vertical-align:middle;
padding-right:5px;
}

div.informaltable > table, .mheadfoot{
background-color: #ffffee;
background: #ffffee;
border-style: none;
}

div.informaltable >  td, div.informaltable > th {
background-color: white;
background: white;
}
.glosslist-title {
 font-family: "Noto Sans Mono", "Courier New", courier, monospace;
 font-size: 12pt;
 font-weight: bold;
 color: maroon;
 margin-bottom: 1em;
}

.revhistory .formaltitle, .abstract-title,
.legalnotice-title, .toc-title {
 color: maroon;
 font-weight: bold;
 margin:  0 0 -10px 0;
 padding: 10px 0 0 0;
}
td.coimage {
padding: 0 20px 0 0
}

/* Bu ikisisinin sırası önemli. */
.biblioentry { padding-bottom: 10px; }
.listitem .biblioentry { padding-bottom: 4px; }

.cmdsynopsis + .para  { padding-top: 6px; }
.halfpara, dt.example, .itemizedlist, .orderedlist { padding-bottom: 6px; }
.para, .toc, .table, .figure, .mediaobject, .contrib, .qandaset li,
.informaltable, .informalfigure, .informalexample { padding-bottom: 12px; }
.footnotes { width: 100%; }
div.footnote { background-color: #eeffff; padding: 3px; }
sup.footnote, a.footnote { padding: 0; margin: 0;}
.attribution { text-align:right; padding-bottom:12px; }
th.admon { color: maroon; text-align:center;}
td.admon { color: navy; text-align:justify; }
.formaltitle { padding:8px 0px }
img { padding:10px 20px;  }
.note { padding:3px 5% 3px 3px; }

.title, .title code {
color: maroon;
text-align: left;
margin: 15px 0 0 0;
padding: 15px 0 0 0;
}
.subtitle {
 color: maroon;
 text-align: left;
 margin: 0;
 padding: 0;
}
.author {
 font-weight: bold;
 font-size: 120%;
 color: maroon;
 text-align: left;
 margin: 15px 0 0 0;
}

h1, h1 tt, .head1, .head1 tt { font-weight: bold; font-size: 200%; }
h2,  h2 tt, .head2, .head2 tt { font-weight: bold; font-size: 175%; }
h3, h2 span, h3 tt, .head3, .head3 tt { font-weight: bold; font-size: 150%; }
h4, h4 code, h5 tt, h6 tt, .head4, .head4 tt, .head5 tt, .head6 tt {
font-weight: bold; font-size: 120% }
h5, .head5 { font-weight: bold; font-size: 100% }
h6, .head6 { font-weight: bold; font-size: 100% }

.head1 i tt, .head2 i tt, .head3 i tt, .head4 i tt, .head5 i tt {
font-size: 105%;}

.caution > h3, .important > h3,
.note > h3, .tip > h3, .warning > h3 {
 font-weight: bold;
 font-size: 120%;
 text-align: center;
 margin:  0 0 -10px 0;
 padding: 10px 0 0 0;
}
em code {
font-family: "Noto Sans Mono","Courier New", courier, monospace;
color: green;
font-size: 11pt;
}
code {
font-family: "Noto Sans Mono","Courier New", courier, monospace;
color: maroon;
font-size: 12pt;
}
.title code {
 font-family: "Noto Sans Mono","Courier New", courier, monospace;
}

.qandaset li.listitem { padding-bottom: 0;}

.question > p {
 color: maroon;
}
.answer > td p {
 margin-left: 2%;
}
div[id="subtitle"] {
font-style: italic;
}
.email {
 color: blue;
}

span.publisher, .xref {
font-style: italic;
}

.link {
font-style: normal;
}

span.guibutton {
/*font-weight: bold;*/
font-size: 100%;
color: maroon;
}

span[class="element"] {
font-weight: bold;
color: black;
}

span[class="rfcmaybe"] {
background: #eeeeee;
background-color: #eeeeee;
/*font-weight: bold;*/
}

span[class="rfcmust"] {
background: #ffffdd;
background-color: #ffffdd;
}

span[class="rfcshould"] {
background: #eeffdd;
background-color: #eeffdd;
/*font-style: italic;*/
}

span.title, span.command {
font-weight: bold;
font-size: 100%;
color: maroon;
}

span.term {
font-family: verdana, arial, helvetica, sans-serif;
/* font-size: 110%; */
font-weight: bold;
color: maroon;
}

span.wordasword {
font-weight: bold;
color: green;
}

sup tt, sub tt {
font-size: 90%;
font-family: terminus, courier, monospace;
}

table.simplelist {
border: 1px dotted #c0c0c0;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
padding-left: 5px;
}
.coimage {
position: relative;
display: block;
top: -2px;
}
.manpara, .designator, .mslant {
font-family: terminus, courier, monospace;
font-size: 110%
}

.tt, tt, span.dict { color: maroon }


/**/
.var {
font-style: italic;
font-family: 'Times New Roman', 'Times Roman', 'Bitstream Charter', serif;
color: maroon;
font-size: 24px;
}

.bigop {
font-family:  'Times New Roman', 'Times Roman', 'Bitstream Charter', serif;
color: maroon;
font-size: 36px;
}

.subsup {
font-family: 'Times New Roman', 'Bitstream Charter', 'Times Roman', serif;
color: maroon;
font-size: 50%;
}

.nom, .varnum, .num, .frac, .op {
font-family: 'Times New Roman', 'Bitstream Charter', 'Times Roman', serif;
font-size: 24px;
text-align: center;
color: maroon;
}

.delta, .eq, .qe, .gt, .le, .lt, .minus, .ne, .plus, .comma, .mult {
font-family: 'Times New Roman', 'Bitstream Charter', 'Times Roman', serif;
font-size: 24px;
text-align: center;
color: maroon;
}

.comma {
position: relative;
display: block;
left: 2px;
}

.mult {
position: relative;
display: block;
top: 10px;
}

.minus {
position: relative;
display: block;
top: 4px;
}

.plus, .eq, .le, .lt, .ne, .gt, .qe {
position: relative;
display: block;
top: 6px;
}

.var, .num, .varnum, .par, .bracket {
position: relative;
display: block;
top: 3px;
}

.divline {
position: relative;
display: block;
top: 4px;
font-family: courier new, courier;
font-size: 24px;
color: maroon;
}

.sigma {
font-family: 'Times New Roman', 'Bitstream Charter', 'Times Roman', serif;
font-size: 36px;
color: maroon;
}
/*
.expr {
position: relative;
display: inline;
color: maroon;
vertical-align: -33%;
}

.hexpr {
position: relative;
display: inline;
color: maroon;
vertical-align: -233%;
}
*/
#frac {
position: static;
display: inline;
color: maroon;
}
#blok { position: relative; display: block; left: 0px; top: 0px; vertical-align: middle;}

#tdnom {
position: relative;
display: block;
top: 12px;
}

#tddenom {
position: relative;
display: block;
top: -8px;
}

#pardown {
position: relative;
display: inline;
top: 12px;
}

#parup {
position: relative;
display: inline;
top: -12px;
}

#sub {
position: relative;
display: inline;
top: 24px;
}

#sup {
position: relative;
display: inline;
top: -16px;
}

#sqrdiv {
position: relative;
display: inline;
top: -10px;
}

#sqrop {
position: relative;
display: inline;
color: maroon;
}
#sqropup {
position: relative;
display: inline;
color: maroon;
top: 14px;
left: -4px;
}

#sqrsup {
position: relative;
display: inline;
top: -10px;
}

#sqrline {
position: relative;
display: inline;
color: maroon;
top: 14px;
left: -6px;
}

#sqrtxt {
position: relative;
display: inline;
top: -2px;
left: 0px;
}

#varsub {
position: relative;
display: inline;
top: 7px;
left: 1px;
}

#varsup {
position: relative;
display: inline;
top: -4px;
left: 2px;
}

#varsubsub {
position: relative;
display: inline;
top: 12px;
}

