/* the borders are important, change their color instead of deleting them
 * height unit: rem (medium font height),
 * width unit: vw (viewport width x 1%)
 */
html {
  font-size: 100%;
}
body {
  color: #222;
  font: 500 medium/1.5rem  "Montserrat", "Encode Sans","Dejavu Sans", sans, sans-serif, serif, monospace;
  background-color: #ffffee;
  width: 100%;
  overflow-y: scroll;
  direction:ltr
}

a:hover, button:hover {
  cursor: pointer;
}
body, header, section, footer {
  margin: 0;
  padding: 0;
}
.mainpage, section,
div.index, div.book, div.part,
div.refentry, div.reference {
  box-sizing: border-box;
}
.mainpage:before,
.mainpage:after {
  display:table;
  content:"";
  line-height:0;
}
.mainpage:after {
  clear:both;
}
.mainpage {
  max-width: 64rem;
  margin: 0 auto 3rem;
  box-shadow: 6px 6px 6px #888;
}
section, div.index, div.refentry, div.book, div.part, div.reference {
  width: 100%;
  background: #fafcf8;
  float: left;
  border: 1px solid #fff;
  word-wrap: break-word;
}
section.mainpage > section,
section.mainpage > div.book,
section.mainpage > div.part,
section.mainpage > div.index,
section.mainpage > div.refentry,
section.mainpage > div.reference{
  padding: 1rem 2vw 1rem 2vw;
  width:100%;
}
[id] {
  scroll-margin-top: 3.25rem;
}
strong, em, tt {
  text-rendering: optimizeLegibility;
}
table {
  text-align: left;
  border-spacing: 0;
  margin-right: 2vw;
  margin-bottom: 1rem;
}
section section pre, .refentry pre {
  max-height: 16rem;
  background-color: #fffff0;
  border: 1px solid #ddd;
  padding: 8px 12px;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #888;
}
/* transparent border tuhaflığı ile ilgili açıklama:
 * Bazı tarayıcılar border yokluğunda kaydırma çubuklarını etkinleştirmiyor.
 * Kaydırma çubukları özellikle mobil donanımlar için önemli.
 */
pre.monospaced {
  max-height: none;
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  overflow-x: auto;
  overflow-y: auto;
}
.preservespace {
  max-height: unset;
  background-color: white;
  background: white;
}
pre, pre em, pre .command {
  font: 0.93rem/1.3rem "Azeret Mono", hack, monospace;
  color: #111;
}
img { max-width: 32rem; }
@media (max-width:720px) {
 img { max-width: 18rem; }
.table, .csproto,
.informaltable,
.revhistory { overflow-x: auto; }
}

code,  tt, em code, p em code, .token,
.pdparam, .command, .constant, .fsfunc,
td.cmdsynopsis, td.funcdef, td.paramdef,
.parameter, .type, .cstype {
  font: 0.93rem/1.5rem "Azeret Mono", hack, monospace;
}
.envar, strong, .command, strong code, b,
.term code, .glossterm code, .fsfunc,
.constant, .operator, .statement, .function {
  font-weight: 600;
  font-style: normal;
}
.parameter {
  font-weight: 600;
  font-style: normal;
}
span.indexterm {
  color: #711;
}
em code, p em code, .pdparam,
.term em code, .glossterm em code {
  font-weight: 500;
  font-style: normal;
}
code.literal, code.type {
  font-weight: 400;
}
code.prompt {
  font-weight: 400;
  color: black;
}
code, tt, .token, .type,
.refsynopsisdiv dt,
.command,  pre .command,
.glossterm, .glossterm code,
.term, .fsfunc, .term code,
td.funcdef, td.paramdef, span.dict {
  color: #720;
}
em.warn {
 color: #11b;
}
.title {
  font-weight: 500;
}
.toc-title {
 font: 500 1.5rem/2rem "Encode Sans", "Noto Sans", sans, sans-serif, serif, monospace;
 font-stretch: condensed;
}
.author,
.glosslist-title,
.variablelist-title,
.legalnotice-title {
  font: 500 1.25rem/2rem  "Encode Sans", "Noto Sans", sans, sans-serif, serif, monospace;
  font-stretch: condensed;
}
h1, h2, h3, h4, h5, h6 {
  font: 500 medium/3rem "Encode Sans", "Noto Sans", sans, sans-serif, serif, monospace;
  font-stretch: condensed;
  overflow:hidden;
  text-rendering: optimizeLegibility;
}
h1, h2 {
  margin-top: -0.5rem;
}
h1, h1 code {
  font-size: 1.75rem;
}
h2, h2 code {
  font-size: 1.5rem;
}
h3 {
  font-size:1.25rem;
  margin-top: 1rem;
  margin-bottom: -0.8rem;
}
h3 code {
  font-size:1.1rem;
}
h3.subtitle {margin-bottom: 1rem;}
h4, h4 code {
  font-size:1.125rem;
  margin-top: -0.25rem;
  margin-bottom: -1rem;
}
h5, h6, h5 code, h6 code {
  font-size: 1rem;
  margin-top: -0.25rem;
  margin-bottom: -1rem;
}
.chapter .titlepage .title {
  font-size: 1.75rem;
}
.sect1 .titlepage .title {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: -0.8rem;
}
.sect2 .titlepage .title {
  font-size: 1.25rem;
  margin-top: .5rem;
}
.refentry h2,
.refentry h3 {
  margin-top: 2rem;
  margin-bottom: -1rem;
  font-size: 1.25rem;
}
.refentry h3, .refentry h4 {
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.refentry h4 {
  padding-left: 1rem;
  font-weight: 400
}

.legalnotice-title,
.abstract-title {
  margin-bottom: -1rem;
}
.legalnotice-title { font-size: 1rem; }
.letters a {
 font-size: 1.25rem;
 line-height: 3rem;
}
h1, h2, h3, h4, h5, h6, .title,
.author,
.toc-title,
.abstract-title,
.legalnotice-title,
.glosslist-title,
.variablelist-title,
.example-title,
.question,
.qandaset dt {
  color: #754;
}
.subtitle,
.firstname,
.surname {
  color: #960;
}
em code, .pdparam,
.term em code, .parameter,
.glossterm em code, .cstype  {
 color: #080;
}
em .code   {
 color: #752;
 font-style: italic;
}
a:hover, a:focus {
  color: #AE508D;
  border-color: #AE508D;
  outline:0;
}
a:link, a:visited, a.xref, code a {
  color: #437;
  font: .875rem/2rem;
}
.synopsis {
 background-color: #f6f9f6;
}
.revhistory .formaltitle {
  padding-bottom: .25rem;
  font-weight: 500;
}
div.footnote {
  background-color: #f7fafa;
  font-size: .875rem;
  border: 1px solid #ccc;
  padding: 0 8px;
  margin: 1rem 0;
  font-weight: 500;
}
.footnotes {
  float: left;
  width: 100%;
}
.admon {
  padding: 0 1rem 0 2rem;
  margin: 1rem 2rem;
  background-repeat: no-repeat;
  background-position: .5rem .5rem;
  background-size: 2em auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 2px #888;
}
.example .admon {
  background-position: .5rem 1rem;
}
.refentry .admon {
  background-position: .5rem 1.5rem;
}

.admon-title, .admon-title code {
  margin-top: 0;
  margin-left: 0.9rem;
  margin-bottom: -1.5rem;
  font-size: 1.1rem;
}
.refentry .admon-title,
.refentry .admon-title code  {
  margin-left: 0;
}
.admon-contents,
.figure-contents {
  margin-top: 1rem;
  margin-left: 1rem;
}
.csynopsis .admon ul, .csynopsis  .admon ol {
  margin-left: 1rem;
}
.example {
  padding: .25rem 1rem .5rem 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}
br.example-break {
  display: none;
}
.revhistory .formaltitle,
.abstract-title,
.example-title,
.figure-title,
.question {
  font-weight: 600;
}
dt a, dd a, a.xref {
  font-weight: 500;
}
.caution {
  background-image: url(/images/xsl/caution.png);
}
.important {
  background-image: url(/images/xsl/important.gif);
}
.note {
  background-image: url(/images/xsl/note.png);
}
.tip {
  background-image: url(/images/xsl/tip.png);
}
.warning {
  background-image: url(/images/xsl/warning.png);
}
div .copyright  div .copyright {
  margin-top: 0
}
.qandaset p,
dl p {
  padding-left: 2rem;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}
.itemizedlist p,
.orderedlist p {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}
div dl * dl {
  margin-left: -0.5rem;
}
.example-contents *:first-child {
  margin-top: .5rem;
}
.refentry ol, section section ol {
   margin-left: .5rem;
}
ol, ul, ol dt {
  margin-left: -1rem;
}
ol dd {
  margin-left: 1rem;
}
dt, dd {
  margin-top: 0;
  margin-bottom: .2rem
}
dd ol, dd ul {
  margin-left: -2rem;
}
.indexdiv dl dl, div.toc dl dl {
 margin-left: -1rem;
 margin-top: 0;
}
dl.toc dd {
 margin-bottom: .5rem;
}
ol.qandatoc, ol.qandaset {
  margin-left: 0;
}/*
li.listitem p:not(.linkedpara) {
  margin-top: 0;
  margin-bottom: 0;
}
li.member :link {
  margin-top: 1rem;
  margin-bottom: 1rem;
}*/
li li {
  margin-left: -.5rem;
}
dl dl {
  margin-left: -2vw;
}
dd ol p, dd ul p {
  margin-left: -2rem;
}
dd ul, dd ol, li ul {
  margin-bottom: 1rem;
}
li ul {
  margin-top: -0.5rem;
}
blockquote p {
  margin-left: -2rem;
  text-align: justify;
  font-style: italic;
}
.refentry blockquote p {
  margin-left: -2rem;
  text-align: normal;
  font-style: normal;
}
.attribution {
  text-align: right;
}
dd li {
  margin-left: 2rem;
}
dd p {
 margin-left: -2.5rem;
}
dd .simpara {
 margin-left: -0.5rem;
}

.refsynopsisdiv dd p {
 margin-left: 0;
}
dd .example,
dd .synopsis {
  margin-left: -1.5rem;
}
dd .example p {
 margin-left: -1rem;
}
dd .literallayout {
 margin-top: -.5rem;
 margin-bottom: 1rem;
}
.qandatoc li {
  padding: .5rem 4px;
}
ol.qandaset dl {
 margin-top: 2rem;
 margin-left: 0;
}
ol.qandaset * p:first-child {
 margin-top: -1rem;
}
table.revhistory {
  border: 1px solid #bbb;
  padding: 10px;
}
th {
  color: #fff;
  background-color: #666;
  padding: 0.2em;
  text-align: center;
  vertical-align: middle;
}
tr:nth-of-type(odd) { background: #ffffef; }
tr:nth-of-type(even) { background: #ddddcd; }
.csynopsis {
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #888;
  margin-top: 1rem;
  background-color: #fffbea/*#f0fff0;*/
}
.csproto, .csproto-other {
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  background-color: #eaead7;
  padding: 0 0.25rem 0 0.25rem;
  box-shadow: 1px 1px #888;
}
.csproto {
  margin-top: -1.5rem;
}
li .csynopsis {
  margin-bottom: 1.5rem;
}
dd .csynopsis {
  margin-bottom: 1rem;
  margin-left: -0.5rem;
}
li * .csproto, dd * .csproto {
  margin-bottom: 1rem;
}
dd .csynopsis p {
  margin-left: -2rem;
}
.cstype {
  display: inline-block;
  position: relative;
  top: 2.5rem;
  left: -4.3rem;
  width: auto;
  height: 1.5rem;
  font: .93rem/1.3rem "Azeret Mono", hack, monospace;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  background-color: transparent;
}
.csprototab {
 margin-bottom: 0.25rem;
}
.csproto tr, .csproto-other tr, td.csname, td.type, td.parameter {
  background-color: transparent;
  padding: 0;
}
.safety {
 margin-top: 0.5rem;
}
dd * .safety {
 margin-top: -0.5rem;
 margin-bottom: 1rem;
}

.revhistory tr {
  background: #fffff0;
}
.csynopsis dl .simplelist,
.csynopsis .simplelist {
  margin-top: -0.5rem;
}
.csynopsis li  {
  margin-left: -2rem;
}
.csynopsis dl .member {
  margin-left: 1rem;
}
td.revremark-blank {
 background:#fffff0;
 padding: 0.75rem;
}
td { padding: 0 2px;}
td.cmdsynopsis, td.funcdef, td.paramdef {
  background-color: #fafcf8;
  text-align: left;
  vertical-align: top;
  padding-right: 0.5em;
}
td.funcdef { white-space: nowrap; }
.revhistory {
 font-size: .92rem;
 margin-bottom: 1rem;
}
.revhistory ul { margin-left: 0.2rem; }
.authorgroup div dl { margin-top: 0.2rem; }
div p.copyright { margin-bottom: 0; }
.legalnotice, div p.pubdate { margin-top: 1rem; }

.qandaset dl,
.refentry dl,
.refentry table,
.refentry .example,
.refsect1 > p,
.refsect2 > p,
.refsect3 > p,
.refnamediv > p,
.refsynopsisdiv > p,
.refsynopsisdiv > .simpara,
.refsect1 > .simpara,
.refsect2 > .simpara,
.refsect3 > .simpara,
.refnamediv > .simpara,
.refsynopsisdiv > .cmdsynopsis,
.refsynopsisdiv > .funcprototype,
div.literallayout {
  margin-left: 1rem;
}
section pre { margin-left: 1rem; }
.refsynopsisdiv .refsect3 >.cmdsynopsis { margin-left: 2rem; }

.refentry-header table,
.refentry-footer table {
 margin-left:0;
 margin-bottom: 0;
}
.refentry-header,
.refentry-footer {
 border: 1px solid #000;
 font: 500 .93rem/1.5rem "Noto Sans Mono", hack, monospace;
}
.refentry-header { margin-top: -2rem; }
.refentry-footer { margin-top: 2rem; }
.refsynopsisdiv > .refsect2 > h3 {
  margin-bottom: -2rem;
}
.refsynopsisdiv > .refsect2 > .refsect3 > h4 {
  margin-left: 1rem;
  margin-bottom: -2rem;
}
.refsynopsisdiv > .refsect2 > .refsect3 > p {
  margin-left: 4rem;
}
.refsynopsisdiv > .refsect2 > .refsect3 > .simpara {
  margin-left: 4rem;
}
section ul, section ol {
 margin-left: .5rem;
}
.refentry ol, .refentry ul {
 margin-left: 1.5rem;
}
.refentry .blockquote > p {
  margin-left: 1.5rem;
}
.refsect1 pre {
  padding-left: 2.5rem;
  margin-left: .5rem;
}
.refsect1 td pre {
 padding-left: 0;
 margin-left: 0;
}
.refsynopsisdiv pre {
  padding-left: 2rem;
}
hr {
 color: #fcfcfc;
 margin: 1rem 0;
}
dt pre, li > pre {
 margin-left: 2rem;
}
.refentry dd pre {
 margin-left: -1.5rem;
}
dd div ol,
dd div ul,
dd ul {
 margin-left: -3rem;
}
.refentry dd ol,
.refentry dd ul {
 margin-left: -3rem;
}
.refentry dl dl {
 margin-left: -.5rem;
}
li {
 padding-left: -2rem;
 margin-left: -1rem;
}
.mheadfoot {background-color: #fff;}
/* ruby-ug eval screen i/o */
pre.eval {
  background-color: black;
  color: white;
}
em.evalinput {
  color: yellow;
  font-weight: 600;
}
em.evaloutput {
  color: cyan;
  font-weight: 600;
}
em.regxoutput {
  color: red;
  font-weight: 600;
}
.wordasword {
  color: maroon;
  font-weight: 600;
}
.preliminary .title {
 display: none;
}
.dedication .title {
 margin-bottom: -1rem;
}
section > .informaltable { margin-top: 1rem; }

