/* the borders are important, change their color instead of deleting them
 * height unit: rem (medium font height),
 * width unit: vw (viewport width x 1%)
 */
html {
  font-size: 100%;
}
body {
  color: #222;
  font: normal medium sans-serif, serif, monospace;
  background-color: #ffffee;
  width: 100%;
  line-height: 1.5rem;
  overflow-y: scroll;
  direction:ltr
}

a:hover, button:hover {
  cursor: pointer;
}
body, header, section, footer {
  margin: 0;
  padding: 0;
}
.mainpage, section,
div.index, div.book,
div.refentry, div.reference {
  box-sizing: border-box;
}
.mainpage:before,
.mainpage:after {
  display:table;
  content:"";
  line-height:0;
}
.mainpage:after {
  clear:both;
}
.mainpage {
  max-width: 64rem;
  margin: 0 auto 3rem;
  box-shadow: 6px 6px 6px #888;
}
section, div.index, div.refentry, div.book, div.reference {
  width: 100%;
  background: #fafcf8;
  float: left;
  border: 1px solid #fff;
  word-wrap: break-word;
}
section.mainpage > section,
section.mainpage > div.book,
section.mainpage > div.index,
section.mainpage > div.refentry,
section.mainpage > div.reference{
  padding: 1rem 2vw;
  width:100%;
}
[id] {
  scroll-margin-top: 3.25rem;
}
strong, em, tt {
  text-rendering: optimizeLegibility;
}
section section pre  {
  max-height: 16rem;
  background-color: #fffff0;
  border: 1px solid #ddd;
  padding: 8px 12px;
  white-space: pre-wrap;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #888;
}
.refentry pre {
  white-space: pre-wrap;
}
pre, pre em, pre .command {
  font: .93rem/1.3rem "Noto Sans Mono", monospace;
  font-stretch: condensed;
  color: #111;
}
.refsynopsisdiv p,
.refsynopsisdiv .simpara,
code,  tt, em code, p em code, .token, .type,
.pdparam, .command, td.cmdsynopsis, .constant {
  font: 500 .93rem/1.5rem "Noto Sans Mono", monospace;
  font-stretch: condensed;
}
.toc-title {
 font: 500 1.5rem/3rem Arial, Tahoma;
 font-stretch: expanded;
}
.envar, strong, .command, strong code, b,
.term code, .glossterm code, .type, .constant {
  font-weight: 700;
  font-style: normal;
}
em, em code, p em code, .pdparam,
.term em code, .glossterm em code {
  font-weight: 500;
  font-style: normal;
}
code, tt, .token,v.type,
.refsynopsisdiv dt,
.command,  pre .command,
.glossterm, .glossterm code,
.term, .term code {
  color: #720;
}
em.warn {
 color: #11b;
}
.title {
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 3rem;
  overflow:hidden;
  text-rendering: optimizeLegibility;
}
h1, h2 {
  margin-top: -0.5rem;
}
h1, h1 code {
  font-size: 1.75rem;
}
h2, h2 code {
  font-size: 1.5rem;
}
h3, h3 code {
  font-size:1.25rem;
  margin-top: -0.25rem;
  margin-bottom: -1rem;
}
h3 code {
  font-size:1.1rem;
  font-stretch: condensed;
}

h3.subtitle {margin-bottom: 1rem;}
h4, h4 code {
  font-size:1.125rem;
  margin-top: -0.25rem;
  margin-bottom: -1rem;
}
h5, h6, h5 code, h6 code {
  font-size: 1rem;
  margin-top: -0.25rem;
  margin-bottom: -1rem;
}
.refentry h2,
.refentry h3 {
  margin-top: 2rem;
  margin-bottom: -1rem;
  font-size: 1.25rem;
}
.refentry h3, .refentry h4 {
  margin-top: 1rem;
  padding-left: 1rem;
}
.legalnotice-title,
.abstract-title {
  margin-bottom: -1rem;
}
.author,
.glosslist-title,
.variablelist-title {
  font-size: 1.25rem;
}
a:link, a:visited {
  color: #326;
  font: .875rem/2rem;
}
.letters a {
 font-size: 1.25rem;
 line-height: 3rem;
}
h1, h2, h3, h4, h5, h6, .title,
.author,
.toc-title,
.abstract-title,
.legalnotice-title,
.glosslist-title,
.variablelist-title,
.question
.qandaset dt{
  color: #754;
}
.subtitle,
.firstname,
.surname {
  color: #960;
}
em, em code, .pdparam,
.term em code,
.glossterm em code  {
 color: #080;
}
a:hover, a:focus {
  color: #AE508D;
  border-color: #AE508D;
  outline:0;
}
.synopsis {
 background-color: #f6f9f6;
}
.revhistory .formaltitle {
  padding-bottom: .25rem;
  font-weight: 500;
}
div.footnote {
  background-color: #f7fafa;
  font-size: .875rem;
  border: 1px solid #ccc;
  padding: 0 8px;
  margin: 1rem 0;
}
.footnotes {
  float: left;
  width: 100%;
}
.caution, .important, .note, .tip, .warning {
  padding: .25rem 1rem .25rem 2rem;
  margin: 1rem 2rem;
  background-repeat: no-repeat;
  background-position: .5rem .7rem;
  background-size: 2em auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 2px #888;
}
.caution h3, .important h3, .note h3, .tip h3, .warning h3,
.caution h3 code, .important h3 code, .note h3 code, .tip h3 code, .warning h3 code {
  margin-top: 0;
  margin-left: 0.5rem;
  margin-bottom: -1.5rem;
  font-size: 1.1rem;
}
.admon-contents {
  margin-top: 1rem;
  margin-left: 1rem;
}
.qandaset .admon-contents {

}
.example {
  padding: .25rem 1rem .5rem 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}
br.example-break {
  display: none;
}
.legalnotice-title,
.revhistory .formaltitle,
.abstract-title,
.example-title,
.question, dt a, dd a {
  font-weight: 600;
}
.caution {
  background-image: url(../images/xsl/caution.png);
}
.important {
  background-image: url(../images/xsl/important.gif);
}
.note {
  background-image: url(../images/xsl/note.png);
}
.tip {
  background-image: url(../images/xsl/tip.png);
}
.warning {
  background-image: url(../images/xsl/warning.png);
}
div .copyright  div .copyright {
  margin-top: 0
}
.glosslist p,
.variablelist p,
.qandaset p {
  padding-left: 2rem;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}
.itemizedlist p,
.orderedlist p {
  padding-left: 1rem;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.example-contents *:first-child {
  margin-top: .5rem;
}
.refentry ol {
   margin-left: .5rem;
}
ol, ul, ol dt {
  margin-left: -1rem;
}
ol dd {
  margin-left: 1rem;
}
dt, dd {
  margin-top: 0;
  margin-bottom: .5rem
}
dd ol, dd ul {
  margin-left: -2rem;
}
.indexdiv dl dl, .toc dl dl {
 margin-left: -1rem;
 margin-top: 0;
}
ol.qandatoc, ol.qandaset {
  margin-left: -2%;
}/*
li.listitem p:not(.linkedpara) {
  margin-top: 0;
  margin-bottom: 0;
}
li.member :link {
  margin-top: 1rem;
  margin-bottom: 1rem;
}*/
li li {
  margin-left: 1vw;
}
dl dl {
  margin-left: -2vw;
}
li p, dd ol p, dd ul p {
  margin-left: -.75rem;
}
dd ul, dd ol {
  margin-bottom: 1rem;
}
blockquote p {
  margin-left: -2rem;
  text-align: justify;
  font-style: italic;
}
.refentry blockquote p {
  margin-left: -2rem;
  text-align: normal;
  font-style: normal;
}
.attribution {
  text-align: right;
}
dd li {
  margin-left: 2rem;
}
dd p {
 margin-left: -2.5rem;
}
dd .simpara {
 margin-left: -0.5rem;
}

.refsynopsisdiv dd p {
 margin-left: 0;
}
dd .example,
dd .synopsis {
  margin-left: -1.5rem;
}
dd .example p {
 margin-left: -1rem;
}
dd .literallayout {
 margin-top: -.5rem;
 margin-bottom: 1rem;
}
.qandatoc li {
  padding: .5rem 4px;
}
ol.qandaset dl {
 margin-top: 2rem;
}
ol.qandaset * p:first-child {
 margin-top: -1rem;
}
dl.toc dd dt {
 position: relative;
 margin-top: -.2rem;
}
dl.toc > dt {
  margin-top: .8rem;
}
table {
  text-align: left;
  border-spacing: 0;
}
table.revhistory {
  border: 1px solid #bbb;
}
th {
  color: #fff;
  background-color: #666;
  padding: 0.2em;
  text-align: center;
  vertical-align: middle;
}
tr:nth-of-type(odd) { background:#fffff0; }
tr:nth-of-type(even) {background:#fff; }
.revhistory tr {
  background: #fffff0;
}
td.revremark-blank {
 background:#fffff0;
 padding: 0.75rem;
}
td { padding: 1px 4px; }
td.cmdsynopsis {
  background-color: #fff;
  text-align: left;
  vertical-align: top;
  padding-right: 0.5em;
}
.revhistory {
 font-size: .92rem;
 margin-bottom: 1rem;
}
.revhistory ul {
 margin-left: 0.2rem;
}
.authorgroup div dl {
 margin-top: .2rem;
}
div p.copyright {
 margin-bottom: 0;
}
.legalnotice, div p.pubdate {
 margin-top: 1rem;
}
.qandaset dl,
.refentry dl,
.refentry table,
.refentry .example,
.refsect1 > p,
.refsect2 > p,
.refsect3 > p,
.refnamediv > p,
.refsynopsisdiv > p,
.refsect1 > .simpara,
.refsect2 > .simpara,
.refsect3 > .simpara,
.refnamediv > .simpara,
.refsynopsisdiv > .cmdsynopsis,
.refsynopsisdiv > .funcprototype,
div.literallayout {
  margin-left: 1rem;
}
.refentry-header table,
.refentry-footer table {
 margin-left:0;
}
.refentry-header,
.refentry-footer {
 border: 1px solid #000;
 font: 500 .93rem/1.5rem "Noto Sans Mono", monospace;
}
.refentry-header {
 margin-top: -2rem;
}
.refentry-footer {
 margin-top: 2rem;
}
.refsynopsisdiv > .refsect2 > h3 {
  margin-bottom: -2rem;
}
.refsynopsisdiv > .refsect2 > p {
  margin-left: 3rem;
}
.refsynopsisdiv > .refsect2 > .refsect3 > h4 {
  margin-left: 1rem;
  margin-bottom: -2rem;
}
.refsynopsisdiv > .refsect2 > .refsect3 > p {
  margin-left: 4rem;
}
.refsynopsisdiv > .refsect2 > .refsect3 > .simpara {
  margin-top: 1rem;
  margin-left: 4rem;
}
.refentry ol, .refentry ul {
 margin-left: 1.5rem;
}
.refentry .blockquote > p {
  margin-left: 1.5rem;
}
.refsect1 pre {
  padding-left: 2.5rem;
  margin-left: .5rem;
}
.refsynopsisdiv pre {
  padding-left: 2rem;
}
hr {
 color: #fcfcfc;
 margin: 1rem 0;
}
dt pre, li > pre {
 margin-left: 2rem;
}
.refentry dd pre {
 margin-left: -1.5rem;
}
.refentry dd ol,
.refentry dd ul {
 margin-left: -3rem;
}
.refentry dl dl {
 margin-left: -.5rem;
}
li {
 padding-left: -2rem;
 margin-left: -1rem;
}
.mheadfoot {background-color: #fff;}
