/* Navigation */
header {
  max-width: 64rem;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
  display: block;
  top: 0;
}
.navbar{
  margin:0;
  padding:0;
  height: 28px;
  background-color: #fff!important
}
.dropdown {
  float: left;
  text-align: center;
  position: relative;
  display: block;
}
.dropbtn {
  display: block;
  padding: 5px 0;
  width: 100%;
  vertical-align: middle;
  -moz-appearance: none!important;
  max-height: 32px!important;
  font-size: 16px!important;
    color: #201;
  background-image: -webkit-linear-gradient(#cb7, #dc9 10%, #fea 20%, #ffe 45%, #fea 70%, #dc9 90%, #cb7);
  background-image: linear-gradient(#cb7, #dc9 10%, #fea 20%, #ffe 45%, #fea 70%, #dc9 90%, #cb7);
  border: 1px solid grey;
  border-radius: 2px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 99%;
  border: 1px solid grey;
  background-color: #FEFEFE;
  z-index: -1;
  top: 28px;
  padding: 0 1px 1px;
  border-radius: 2px;
}
.dropdown-content button {
  display: block;
  padding: 5px 0;
  margin: 1px 0 0 0;
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#cb7, #dc9 10%, #fea 20%, #ffe 45%, #fea 70%, #dc9 90%, #cb7);
  background-image: linear-gradient(#cb7, #dc9 10%, #fea 20%, #ffe 45%, #fea 70%, #dc9 90%, #cb7);
 border-radius: 2px;
}
.dropdown-content button:active,
.dropdown .dropbtn:active {
  font-weight: bold;
  color: #AE508D;
}
.dropdown .dropbtn:hover {
  text-transform: uppercase;
}
.dropdown:hover .dropdown-content {
  display: block;
  color: #201;
}
.dropnotice, .refnotice {
  display: block;
  margin-bottom: 2rem;
  border: 1px solid #fff;
}
.refnotice {
  margin-bottom: 0;
  margin-top: 2rem;
}

.droplegal, .reflegal {
  display: none;
  position: absolute;
}
.dropnotice:hover  .droplegal,
.refnotice:hover .reflegal {
  display: block;
 }
 .droplegal {
  top: 1.5rem;
  z-index: 1;
  overflow-y: auto;
 }
 .dropnotice, .refnotice {
  width: 100%;
  max-width: 48rem;
  position: relative;
  display:inline-block;
 }
.reflegal {
  bottom: 0.5rem;
  z-index: 1;
}
.reflegal, .droplegal {
  max-height: 18rem;
  background-color: #fffff0;
  border: 1px solid #ddd;
  padding: 4px 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #888;
}
.reflegal pre {
 margin-left: 0;
}
@media (max-width:720px) {
.reflegal pre {
 max-width: 18rem;
}
}
