/* Navigation */
header {
  max-width: 64rem;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
  display: block;
  top: 0;
}
.navbar{
  margin:0;
  padding:0;
  height: 38px;
  background-color: #fff!important
}
.dropdown {
  float: left;
  text-align: center;
  position: relative;
  display: block;
}
.dropbtn {
  display: block;
  padding: 7px 0;
  width: 100%;
  vertical-align: middle;
  -moz-appearance: none!important;
  max-height: 40px!important;
  font-size: 16px!important;
  border-radius: 10px;
    color: #136;
  background-image: -webkit-linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);
  background-image: linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);
  border: 0.2rem ridge white;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  border-radius: 6px;
  border: 0.1rem solid grey;
  background-color: #FEFEFE;
  z-index: -1;
  top:38px;
  padding: 1px 0 0 0;
}
.dropdown-content button {
  display: block;
  padding: 6px;
  margin:0;
  text-decoration: none;
  border: 0.2rem ridge;
  border-radius: 8px;
  background-color: #ddd;
  background-image:-webkit-linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);
  background-image:linear-gradient(#fff, #eee 10%, #ddd 30%, #ccc 50%, #ddd 70%, #eee 90%, #fff);
}
.dropdown-content button:active,
.dropdown .dropbtn:active {
  font-weight: bold;
  color: #AE508D;
}
.dropdown .dropbtn:hover {
  text-transform: uppercase;
}
.dropdown:hover .dropdown-content {
  display: block;
  color: #136;
}
